<div mat-dialog-content>

  <h1 class="component-name">Adicionar novo Contacto a lista</h1>
  <div class="form-container">
    <form [formGroup]="register" (ngSubmit)="addContacto()">
      <h2 class="form-title">
        Dados pessoais
      </h2>
      <div class="form-row">
        <div class="form-group">
          <label for="" class="label">Nome<em>*</em></label>
          <div class="form-controls">
            <input type="text" formControlName="nome">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="" class="label">Email<em>*</em></label>
          <div class="form-controls">
            <input type="email" formControlName="email">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="label">Telefone<em>*</em></label>
          <div class="form-controls">
            <input type="number" formControlName="contacto">
          </div>
        </div>
        <div class="form-group view">
          <label for="" class="label">Tipo User<em>*</em></label>
          <div class="form-controls">
            <input type="text" formControlName="tipo_user">
          </div>
        </div>
      </div>
      <div class="form-row-bottom">
        <button type="reset" class="btn btn-cancel" (click)="onNoClick()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-send">
          Cadastrar
        </button>
      </div>
    </form>
  </div>

</div>