<div class="sidebar">
  <div class="sidebar-header">
    <h1 class="logo">Logo</h1>
  </div>
  <ul class="sidebar-list">
    <li class="sidebar-list-item ">
      <a routerLinkActive="selected">
        <span class="item-icon">
          <i class='bx bxs-dashboard'></i>
        </span>
        Dashboard
      </a>
    </li>
    <li class="sidebar-list-item">
      <a routerLink="../../users">
        <span class="item-icon">
          <i class='bx bx-calendar'></i>
        </span>
        Contactos
      </a>
    </li>
    <li class="sidebar-list-item" >
      <a >
        <span class="item-icon">
          <i class='bx bx-money'></i>
        </span>
        Users
      </a>
    </li>
    <li class="sidebar-list-item">
      <a >
        <span class="item-icon">
          <i class='bx bx-globe'></i>
        </span>
        Suporte
      </a>
    </li>
  </ul>
</div>
