:root{
    --transition-default: all .3s ease;
    --z-index-sidebar: 500;
    --z-index-toggle-menu: 600;
    --z-index-line-top: 1000;
    --z-index-footer: 900;
    --z-index-header: 900;
    --sidebar-width: 22rem;
}